.container {
    width: 75%;
    margin: 40px auto;
    font-family: 'Dosis', sans-serif;
    background-color: #003262 !important;
    border:#003262
}


.title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 30px;
}


.container .title h1 {
    color: #4caf50;
    text-decoration: none;
    
}

.timeline {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.timeline-item {
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    flex: 1;
    color: #4caf50;
}

div .timeline-item .circle {
    width: 50px;
    height: 50px;
    border: 3px solid #FFB81C;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px;
    background: #F1F1F1 ;
    color: #032054;
    transition: all ease-in-out .3s;
    cursor: pointer;
    position: relative !important;
    z-index: 1;
}

.timeline-item.active .circle {
    background: #FFB81C !important;
    color: #F1F1F1;

}



.container .timeline li:after {
    content: "";
    position: absolute !important;
    width: 100% !important;
    height: 1px !important;
    background-color: #FFB81C !important; 
    top: 25px !important;
    left: -50% !important;
    z-index: 0;
    transition: all ease-in-out .3s !important;
  }

 .container li:first-child:after {
    content: none;
  }
