* {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.upload-title {
  color: #FFB81C;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 10px;
  margin-bottom: 0;
}

.upload-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
  background-color: lightgrey
}

.upload-button {
  border: 0.2vw solid gray;
  background-color: white;
  padding: 2vh 5vw;
  cursor: pointer;
  font-size: 1.5vw;
  font-weight: bold;
}

.upload-button-container input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

/*trial*/

 .container {
 
    border: 2px solid #ccc; /* Grey-colored border */
    padding: 10px; /* Add some padding to separate the content from the border */
    background-color: lightgray;
  }
 
.div-sc {
  border: 1px none;
  height: 300px;
  position: relative;
  width: 1192px;
}

.div-sc .div-sc-syt {
  height: 78px;
  left: 548px;
  position: absolute;
  top: 66px;
  width: 96px;
}

.div-sc .div-wrapper {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  left: 540px;
  padding: 12px 0px 0px;
  position: absolute;
  top: 198px;
  width: 113px;
}

.div-sc .text-wrapper {
  color: #032054;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: -8.03px;
  margin-right: -8.03px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.div-sc .div {
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 4px;
  display: flex;
  left: 479px;
  position: absolute;
  top: 144px;
  width: 234px;
}

.div-sc .button {
  align-items: center;
  border-radius: 4px 0px 0px 4px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 6px;
  padding: 15px 24px 15px 24px;
  position: relative;
  z-index: 1;
}

.div-sc .SVG {
  position: relative;
  width: 24px;
}

.div-sc .span-sc {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 0px 0.02px 0px 0px;
  position: relative;
}

.div-sc .choose-files {
  color: #032054;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.div-sc .img {
  margin-right: -15px;
  position: relative;
  width: 54px;
  z-index: 0;
}