* {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

.website-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.website-input-title {
  color: #FFB81C;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 10px;
  margin-bottom: 10px;
}

.website-input-instructions {
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 36px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #000;
  background: #FFF;
  padding: 0 10px;
}

.website-input-field {
  width: 100%;
  height: 32px;
  color: #B7B7B7;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border: none;
  outline: none;
}

.website-input-field:focus {
  border-color: #FFB81C;
}
