body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: yellow;
  color: black; /* optional: set text color to ensure contrast */
}

::-moz-selection {
  background-color: yellow;
  color: black; /* optional */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.custom-select-smaller {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  width: 0px;
}